@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Outfit:wght@200;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* The new bright foundation */
  background-color: #F8FAFC;
  color: #0f172a;
  /* Dark text by default */
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
}

/* Custom Scrollbar for Light Mode */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}